<!DOCTYPE html>
<html>
<head>
  <title>Manila</title>
  <meta charset="UTF-8" />

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>


  <%= csrf_meta_tags %>

</head>
<!--
  Welcome, you found me!
    This is Manila. I built Manila because I've always been a list guy.
    Groceries? Make a list. Applying to jobs? Make a list! Ideas for a list project? First, make a list!
    But the most important lists to me were always my summer lists.
    The lists that chronicled my hopes, dreams, and activities through a summer vacation.

    This app is what I'd like to call a bucket map.
    Whether you're setting up a list for lunch or a list for life, pick a location on the map and then fill in the details!
    You can also check out other user's maps by viewing the home page, as well as search for specific users items.
   If you like this check out my other applications at github.com/pajamaw.
   If you'd like to get in contact with me email pjpeterww@gmail.com and say hi!
   My name's PJ Wickwire and I'm more than happy to help you out.

   I'm constantly making changes to this so if there's a bug that I missed, please email me to let me know!
-->
 <div class="col-xs-6 col-xs-offset-4">
      <div ng-include src="'nav/nav.html'"></div>
  </div>
<body ng-app="app">
  <%= devise_flash %>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <a href="#" data-dismiss="alert" class="close">×</a>
      <%= value %>
    </div>
  <%end%>
      <%=yield%>
</body>
</html>
