<!DOCTYPE html>
<html>
<head>
  <title>Manila</title>
  <meta charset="UTF-8" />

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>


  <%= csrf_meta_tags %>

</head>
 <div class="col-xs-6 col-xs-offset-4">
      <div ng-include src="'nav/nav.html'"></div>
  </div>
<body ng-app="app">
  <% devise_flash %>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <a href="#" data-dismiss="alert" class="close">×</a>
      <%= value %>
    </div>
  <%end%>
      <%=yield%>
</body>
</html>
